* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat' , sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  transition: 0.7s ease-in; }

.face-clock {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
  position: relative; }

.center-clock {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: white;
  z-index: 0;
  transform: translate(-50%, -50%);
  border-radius: 100%; }

.center-clock::before {
  content: '';
  position: absolute;
  left: 49.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0.9rem;
  height: 0.9rem;
  background-color: red;
  border-radius: 50%;
  z-index: -1; }

.hand {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50%;
  transform-origin: 100%;
  transform: rotate(90deg); }

.center-clock::after {
  content: '';
  height: 0.5rem;
  width: 0.5rem;
  position: absolute;
  background-color: black;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; }

.hour-hand {
  height: 3px;
  width: 20%;
  background-color: black;
  z-index: -2; }

.min-hand {
  width: 30%;
  z-index: -5;
  height: 3px;
  background-color: black; }

.second-hand {
  width: 40%;
  height: 3px;
  background-color: red;
  z-index: -2;
  transition: 0.5s ease; }

.toggler {
  padding: 0.65rem 1rem;
  border: 0;
  outline: none;
  background-color: black;
  border-radius: 0.3rem;
  color: #fff;
  transition: 0.3s ease; }
  .toggler:hover {
    cursor: pointer;
    transform: translateY(-1px);
    box-shadow: 0px 2px 8px -4px black; }

.toggler-light {
  background-color: #fff;
  color: black;
  display: none; }

.toggler-dark {
  display: block; }

.dark-mode {
  background-color: black;
  color: white; }
  .dark-mode .center-clock::after {
    background-color: #fff; }
  .dark-mode .hour-hand {
    background-color: #fff; }
  .dark-mode .min-hand {
    background-color: #fff; }
  .dark-mode .circle {
    background-color: white;
    color: black; }

.time {
  font-size: 5rem; }

.no-transition {
  transition: none; }

.circle {
  background-color: black;
  border-radius: 50%;
  color: white;
  height: 1.8rem;
  width: 1.8rem;
  font-size: 1.15rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s ease; }
